
/chatbot-restauracja/.rasa/cache
/chatbot-restauracja/models
chatbot-restauracja/orders.db
chatbot-restauracja/tests_developer.txt
chatbot-restauracja/credentials.yml
chatbot-restauracja/credentials.yml
/chatbot-restauracja/.idea
